.App {
  font-family: sans-serif;
  text-align: center;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.image-container {
  background-color: grey;
}

img {
  transition: opacity 400ms ease 0ms;
}
